<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

    </style>
</head>
<body>

<div class="navbar">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">RAW Data
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/raw/blockchaininfo">BlockchainInfo</a>
      <a href="/raw/difficulty">Difficulty</a>
      <a href="/raw/mempool">Mempool</a>
      <a href="/raw/mininginfo">MiningInfo</a>
      <a href="/raw/networkinfo">NetworkInfo</a>
      <a href="/raw/peers">Peers</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">FORMATTED Data
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/peers_io">Peers In/Out</a>
      <a href="/peers_refresh">Referesh Peers</a>
    </div>
  </div>
</div>
<br>
<hr>
<h3>{{ title }}</h3>
 {%  for message in get_flashed_messages() %}
          <p style="line-height:50%; padding-bottom: 0; padding-top: 0">{{ message|safe }}</p>
        {% endfor %}


{% block body %}
    {{ text_output }}
{% endblock body %}

</body>
</html>
