{%  extends 'base.html' %}


{% set plen = scalars[0] %}
{% set inbound = scalars[1] %}
{% set outbound = scalars[2] %}

{% block body %}
<div style="margin-left: 30px">
<p>Count: {{ plen }}  Inbound: {{ inbound }}  Outbound: {{ outbound }}</p><br>
<table>
    <tr>
        <td>Outbound Peers:</td>
        <td style="width: 30px"></td>
        <td>Inbound Peers:</td>
    </tr>
    <tr>
        <td>
        <ul>
{% for peer in peers %}
    {% if not peer['inbound'] %}
        <li>id: {{ peer['id'] }} IP: {{ peer['addr'] }}</li>
    {% endif %}
{% endfor %}
        </ul>
        </td>
    <td style="width: 30px"></td>
        <td>
        <ul>
{% for peer in peers %}
    {% if peer['inbound'] %}
        <li>id: {{ peer['id'] }} IP: {{ peer['addr'] }}</li>
    {% endif %}
{% endfor %}
        </ul>
        </td>
    </tr>


</table>
    </div>
{% endblock body %}
